* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #a0a0a0;
    font-size: 18px;
    position: relative;
}

.heading {
    text-align: center;
    padding: 1em;
}

.game {
    max-width: 70em;
    margin: auto;
    font-size: 1em;
}

button {
    background-color: #ffffff;
    border: 1px solid #555555;
    border-radius: 5px;
    color: #a0a0a0;
    -webkit-appearance: none;
    cursor: pointer;
    padding: 0.5em 1.5em;
    margin: 0.25em;
    font-size: 1em;
}
button:hover,
button:focus {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}
.disabled {
    cursor: not-allowed;
    background-color: #dddddd;
}
.clicked {
    background-color: #555555;
    cursor: unset;
    pointer-events: none;
}
.clicked:hover,
.clicked:focus {
    background-color: #555555;
}

.content {
    text-align: center;
    padding: 1em;
    display: block;
}
.content-left {
    display: block;
    flex: 1
}
.content-right {
    display: block;
    flex: 2;
    padding: 1em;
}

.scoreboard-left,
.scoreboard-right {
    display: inline-block;
    width: 50%;
}
.scoreboard-value {
    border: 1px solid #a0a0a0;
    background-color: #eae662;
    color: #000000;
    padding: 0.5em 1em;
}
.eliminated {
    background: #555555;
    color: #a0a0a0;
}

.boxes {
    margin: 1em;
}

.current-offer,
.old-offers {
    margin: 1em;
}
.previous-offers div {
    margin: 0.5em;
}

.open-modal {
    overflow: hidden;
}
.open-modal::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background: white;
    right: 0;
    margin: 2em;
    height: calc(100vh - 6em);
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    overflow: auto;
}
ol {
    list-style-position: inside;
    padding: 0;
}
.average {
    margin: 0.5em;
}

@media (min-width: 50em) {
    .content {
        display: flex;
    }
}
